body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif, sans-serif;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('..//Assets/Webpage\ Background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-area {
    position: absolute;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
	height: 60px;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.logo {
	margin: 10px 20px;
	height: 50px;
	float: left;
}

.menu-area {
	float: right;
	list-style: none;
	margin: 20px;
}

.menu-area li {
	display: inline-block;
	margin: 0 5px;
    font-size: 18px;
    font-weight: bold;
}

.menu-area li a {
	text-decoration: none;
	color: #fff;
	padding: 5px 10px;
	letter-spacing: 2px;
}

.menu-area li a:hover {
	color: #13a001;
}

.menu-area #Login-btn {
    width: 80px;
    height: 30px;
    background-color: #13a001;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 15px;
    color: white;
    font-weight: bold;
    margin-left: 10px;
    box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
}

.menu-area #Login-btn:hover{
    background-color: rgba(37, 37, 248, 0.575);
    color: #13a001;
}

#Login-btn a {
    text-decoration: none;
    color: #fff;
}

h1 {
    color: #fff;
    font-size: 50px;
    text-align: center;
}

.cart {
    position: relative;
}

.cart span {
    position: absolute;
    background-color: #13a001;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: -30%;
    right: -3px;
    font-size: 12px;
    font-weight: bold;
}

/**Products**/
.product-grid {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    justify-content: center;
}

.product-card {
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-card img {
    max-width: 100%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.product-card:hover img {
    opacity: 0.3;
}

.product-card .name {
    font-weight: bold;
    margin: 10px 0;
}

.product-card .price {
    color: green;
    margin: 5px 0;
    font-size: 18px;
    font-weight: bold;
}

.hover-options {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #13a001;
    padding: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    z-index: 10;
    width: 80%;
    border-radius: 20px;
}

.product-card:hover .hover-options {
    opacity: 1;
}

.quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.quantity button {
    background-color: rgba(37, 37, 248, 0.575);
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 16px;
}

.quantity input {
    width: 40px;
    text-align: center;
    margin: 0 5px;
    border: 1px solid #ccc;
    padding: 5px;
}

.product-card #cart {
    display: block;
    background-color: rgba(37, 37, 248, 0.575);
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-top: 10px;
    border: none;
    border-radius: 50px;
    box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    justify-self: center;
}

.product-card #cart:hover {
    background-color: rgba(81, 81, 250, 0.575);
    color: white;
}

/* Buttons */
.check-out {
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

#checkout, #cancel, #exit {
    display: inline-block;
    margin: 5px 10px;
    padding: 6px 10px;
    background-color: white;
    border: none;
    border-radius: 20px;
    box-shadow:0px 2px 2px 0px rgba(0, 0, 0, 0.5), inset 0px -3px 6px -2px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    color: green;
}

#checkout:hover {
    background-color: green;
    color: white;
}

#cancel:hover{
    background-color: rgba(37, 37, 248, 0.575);
    color: white;
}

#exit:hover {
    background-color: red;
    color: white;
}

footer {
    background: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    color: white;
}




